body
{
	display: flex;
}
.GameModeAll
{
	width: 100%;
	height: 100%;
	/* display: flex; */
	display: none;
	flex-direction: column;
}
.GameModTitle
{
	text-align: center;
	padding: 10px;
	font-size: 35px;
	color: white;
}
.ListGameMode
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ListGameMode button
{
	height: 120px;
	margin: 10px;
	font-size: 30px;
	padding: 10px;
	background-color: green;
	width: 80%;
	border-radius: 30px;
	transition: .3s;
}
.ListGameMode button:hover
{
	cursor: pointer;
	font-size: 40px;
	transition: .3s;
	border: 10px darkgreen solid;
}

.GameModeParam
{
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	overflow: auto;
	flex-direction: column;
	align-items: center;
}
.GameModeParamParticipant
{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px;
	/* width: 35%; */
}
.AddPlayerButton
{
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	margin: 20px;
	border: 2px solid transparent;
}
.AddPlayerButton:hover
{
	cursor: pointer;
	border: 2px solid grey;
	transition: .2s;
}
.SettingsGameMode
{
	display: flex;
	flex-direction: column;
	width:100%;
	padding: 20px;
	/* width: 65%; */
}
.ParamLigne
{
	display: flex;
	color: rgb(199, 199, 199);
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.102);
	border-radius: 10px;
	max-width: 700px;
}
.ParamType
{
	width: 30%;
	justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
}
.ParamChoice
{
	width: 70%;
}
.GameChoiceList
{
	list-style: none;
	padding: 10px;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.GameChoiceList li
{
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 2px;
	width: 100%;
}
.GameChoiceList li label
{
	padding: 8px;
	font-size: 20px;
}
.GameChoiceList li input
{
	appearance: none;
	border-radius: 0px;
	padding: 15px;
	background-color: rgba(20,20,20,.5);
	border: 1px solid transparent;
}
.GameChoiceList li input:hover
{
	cursor: pointer;
	border: 1px solid black;
}
.GameChoiceList li input:checked
{
	background-color: rgb(114, 196, 8);
}
.StartScoreChoice
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.StartScoreChoice input
{
	width: 50%;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	margin: 0;
}
.StartScoreChoice input::-webkit-inner-spin-button,
.StartScoreChoice input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
.StartScoreChoice button
{
	margin: 3px;
	background-color: lightblue;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 10px;
	transition: .3s;
}
.StartScoreChoice button:hover
{
	cursor: pointer;
	background-color: rgb(63, 193, 236);
	transition: .3s;
}
.ButtonPlayParent
{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 700px;
}
.ButtonPlay
{
	margin: 20px;
	background-color: rgb(114, 196, 8);
	border: 3px solid rgb(114, 196, 8);
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	transition: .3s;
}
.ButtonPlay:hover
{
	cursor: pointer;
	background-color: rgb(2, 206, 2);
	transition: .3s;
	border: 3px solid darkgreen;
}
.ListPlayerUl
{
	width: 100%;
	height: 100%;
	list-style: none;
}
.ListPlayerUl li
{
	color: rgb(199, 199, 199);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.3);
	height: 50px;
	border: 1px solid black;
}
.ListPlayerUl li button
{
	background-color: red;
	font-size: 35px;
	height: 50px;
	width: 50px;
	border: 1px solid black;
}
.ListPlayerUl li button:hover
{
	cursor: pointer;
	border: 5px solid orange;
}
.ListPlayerUl li div
{
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	padding-right: 20px;
	align-items: center;
	font-size: 15px;
}
.ListPlayerUl li input
{
	appearance: none;
	height: 50px;
	width: 50px;
	background-color: rgba(20,20,20,.5);
	border: 1px solid black;
}
.ListPlayerUl li input:hover
{
	cursor: pointer;
	border: 5px solid orange;
}
.ListPlayerUl li input:checked
{
	background-color: green;
}
@media (min-width: 600px)
{
	.GameModeParam
	{
		flex-direction: row;
		align-items: normal;
	}

	.GameModeParamParticipant
	{
		width: 35%;
		padding: 0;
	}
	.SettingsGameMode
	{
		width: 65%;
		padding: 0;
	}

}






.FixedGameAll
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(20,20,20);
	z-index: 1001;
	flex-direction: column;
}
.CrossGameAll
{
	height: 50px;
	width: 100%;
	display: flex;
}
.GameModeTitle
{
	flex: 1;
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.CrossGameAll button
{
	height: 100%;
	width: 50px;
	padding: 5px;
	background-color: transparent;
}
.CrossGameAll button img
{
	height: 100%;
	width: 100%;
	background-color: red;
	padding: 8px;
	border-radius: 10px;
}
.CrossGameAll a img:hover
{
	cursor: pointer;
}
.GameAllDiv
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.SelectPointDoAll
{
	/* background-color: orange; */
}
.SelectPointDoAll table
{
	width: 100%;
	border-spacing: 5px;
}
.SelectPointDoAll table tbody tr
{
	width: 100%;
}
.SelectPointDoAll table tbody tr td
{
	background-color: green;
	border-radius: 3px;
	padding: 4px;
	font-size: 20px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	text-align: center;
}
.SelectPointDoAll table tbody tr td:hover
{
	cursor: pointer;
}
.PlayerListOnGame
{
	flex: 1;
	display: flex;
	flex-direction: column;
	/* background-color: blue; */
	overflow: auto;
	padding: 10px;
}
.OnePlayerDivGame
{
	width: 100%;
	display: flex;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.2);
	color: white;
	margin-bottom: 10px;
}
.DivLeftPlayer
{
	display: flex;
	flex-direction: column;
}
.DivLeftPlayer div
{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	flex: 1;
}
.PlayerPlayerName
{
}
.PlayerPlayerScore
{
}
.ScoreTourPlayerAll
{
	flex:1;
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.ScoreTourPlayerList
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.ScoreTourPlayerList div
{
	padding: 8px;
	height: 35px;
	width: 35px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.2);
	margin: 0px 10px 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.PlayerTourScore
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}
.FixedGameAllRelative
{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

}
.PopUpWinPlayer
{
	display: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.TextWinnerPlayer
{
	background-color: green;
	color: white;
	padding: 25px;
	font-size: 30px;
	border-radius: 15px;
	text-align: center;
}