*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	height: 100%;
	width: 100%;
}
body
{
	height: 100%;
	width: 100%;
	display: flex;
	background-color: rgb(20,20,20);
}
button
{
	border: none;
	padding: 0;
}
input
{
	border: none;
	padding: 0;
}
a
{
	color:black;
	text-decoration: none;
}

.styleContentError
{
	color: white; 
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
	margin: 0; 
	width: 100%;
	font-family: sans-serif; 
	flex-direction: column;
}
