*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	height: 100%;
	width: 100%;
}
body
{
	height: 100%;
	width: 100%;
	background-color: rgb(20,20,20);
}
button
{
	border: none;
	padding: 0;
}