#PageHome #PageHomeBar
{
	background-color: rgba(255,255,255,.6);
}
#PageDart #PageDartBar
{
	background-color: rgba(255,255,255,.6);
}
#PageScore #PageScoreBar
{
	background-color: rgba(255,255,255,.6);
}
#PageAccount #PageAccountBar
{
	background-color: rgba(255,255,255,.6);
}

#PageHome #PageHomeBar .MenuBarSpan
{
	color: rgb(20,20,20);
	font-weight: bold;
}
#PageDart #PageDartBar .MenuBarSpan
{
	color:  rgb(20,20,20);
	font-weight: bold;
}
#PageScore #PageScoreBar .MenuBarSpan
{
	color:  rgb(20,20,20);
	font-weight: bold;
}
#PageAccount #PageAccountBar .MenuBarSpan
{
	color:  rgb(20,20,20);
	font-weight: bold;
}
.MenuBarFixed
{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1000;
	padding: 15px;
	align-items: center;
}
.MenuBar
{
	background-color: rgba(70,70,70,.5);
	width: 500px;
	max-width: 80%;
	border-radius: 20px;
	height: 70px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.MenuBarButton
{
	height: 50px;
	background-color: rgba(255,255,255,.1);
	border-radius: 25px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	transition: .2s;
}
.MenuBarButton:hover
{
	height: 60px;
	border-radius: 25px;
	padding: 5px;
	cursor: pointer;
}
.MenuBarImg
{
	height: 100%;
	background-color: transparent;
}
.MenuBarSpan
{
	display: none;
}

@media (min-width: 800px)
{
	.MenuBarFixed
	{
		position: relative;
		height: 100%;
		max-width: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1000;
		padding: 0px;
		transition: .5s;
	}
	.MenuBarFixed:hover
	{
		transition: .5s;
		max-width: 250px;
	}
	.MenuBar
	{
		background-color: rgb(20,20,20);
		width: 100%;
		height: 100%;
		border-radius: 0px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden; 
   		white-space: nowrap;
	}
	.MenuBarButton
	{
		transition: .2s;
		margin:25px;
		display: flex;
		width: 100%;
		margin-left: 0px;
	}
	.MenuBarButton:hover
	{
		transition: .2s;
	}
	.MenuBarSpan
	{
		display: flex;
		padding-left: 0px;
		color: white;
		font-size: 20px;
		max-width: 0px;
		opacity: 0;
		transition: .2s;
	}
	.MenuBar:hover .MenuBarButton
	{
		justify-content: left;
	}
	.MenuBar:hover .MenuBarSpan
	{
		padding-left: 20px;
		transition: .6s;
		max-width: 200px;
		opacity: 1;
	}
}
